@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
    margin: 0px;
    height: 100%; 
    font-family: 'Roboto', sans-serif;   
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
}

.title {
    margin-left:15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 26pt;
    color: #14A098;
    font-weight: 300;
}

header.site{
    background-color:rgba(25, 24, 26, 0.8);
}

.pane {
    width: 300px;
}

.pane .body{    
    padding: 15px;
    background-color: #FEFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #FEFFFF;    
}

.pane footer {
    font-size: 10pt;
    padding: 15px;
    background-color: grey;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}

input[type="email"],
input[type="password"] {
    min-width: 400px;
}