<div fxLayout="row" fxLayoutAlign="center center">
    <section fxLayout="column" class="pane">       
        <header fxLayout="row" fxLayoutAlign="center center">Login</header>
        <mat-form-field>
            <input matInput type="email" [(ngModel)]="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" [(ngModel)]="password" placeholder="Password">
        </mat-form-field>
        <button (click)="login()" mat-raised-button>Login</button>
        <a routerLink="register">Register</a>
    </section>
</div>