<div fxLayout="row" fxLayoutAlign="center center">
    <section fxLayout="column" class="pane">       
        <mat-toolbar color="primary"><header fxLayout="row" fxFill fxLayoutAlign="center center">LOGIN</header></mat-toolbar>
        <div class="body">
            <form fxLayout="column" #loginForm="ngForm">
                <mat-form-field>
                    <input matInput type="email" name="email" [(ngModel)]="email" placeholder="Email" required>        
                </mat-form-field>            
                <mat-form-field>
                    <input matInput type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
                </mat-form-field>
                <button (click)="login()" color="primary" [disabled]="loginForm.invalid" mat-raised-button>Login</button>
            </form>
        </div>
        <footer><div>Don't have an account? <a routerLink="register">Sign up here</a></div></footer>
    </section>
</div>
